body {
    background-color: whitesmoke;
}

* {
    text-align: center;
    font-size: larger;
    font-family: 'Courier New', Courier, monospace;
}

div {
    width: 15cm;  
    margin-left: auto;
    margin-right: auto;
    background-color: gainsboro;
    border-radius: 0.3cm;
    box-shadow: 2px 2px 5px rgb(182, 182, 182), -2px -2px 5px rgb(241, 241, 241);
}